input[value='<'],
input[value='>'] {
  font-size: 2rem;
}

.bg-lightblue {
  background-color: $light-blue;
}

.table1 {
  height: 450px;
  td {
    height: 5rem;
  }
  th {
    vertical-align: middle !important;
    text-align: center;
    height: 3rem;
  }
}

// to delete button
.table2 {
  .btn-group {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  td:hover .btn-group {
    opacity: 1;
  }
}

// total number of events in week component
.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 38%;
  font-size: .8rem;
  color: white;
}

// line-height
.l-h {
  line-height: 2;
}
// position relative
.ps-relative {
  position: relative;
}
