input[value='<'],
input[value='>'] {
  font-size: 2rem;
}

.bg-lightblue {
  background-color: $light-blue;
}

@media only screen and (max-width: 400px) {
  .table1 {
    display: block;
    overflow-x: auto;
  }
}

.table1 {
  box-shadow: 4px 4px 2px 2px black;
  max-height: 450px;
  td {
    height: 5rem;
  }
  th {
    width: 4rem !important;
    vertical-align: middle !important;
    text-align: center;
    height: 3rem;
  }
}

// to delete button
.table2 {
  box-shadow: 4px 4px 2px 2px black;
  .btn-group {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  td:hover .btn-group {
    opacity: 1;
  }
  .drop {
    height: 2rem;
    line-height: 0.75;
  }
}

// total number of events in week component
.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 33%;
  font-size: .8rem;
  color: white;
}

// line-height
.l-h {
  line-height: 2;
}
// position relative
.ps-relative {
  position: relative;
}
// line
.compleated {
  text-decoration: line-through;
  color: #dc3746;
}

// positon absolute
.ps-absolute {
  position: absolute;
}
