input[value='<'],
input[value='>'] {
  font-size: 2rem;
}

.bg-lightblue {
  background-color: $light-blue;
}

.table1 {
  height: 450px;
  td {
    height: 5rem;
  }
  th {
    vertical-align: middle !important;
    text-align: center;
    height: 3rem;
  }
}

.table2 {
  input[value='X'] {
    opacity: 0;
  }
  td:hover input[value='X'] {
    opacity: 1;
  }
}
