
.image {
  background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, 1)),
              url('https://static.pexels.com/photos/273011/pexels-photo-273011.jpeg') center / cover no-repeat fixed black;
}

h1,
h3 {
  font-weight: 300;
}

.col-lg-3{
  p {
    text-align:justify;
  }
  .react:hover {
    border: 10px solid #62dafb;
  }
  .redux:hover {
    border: 10px solid #774bbc;
  }
  .node:hover {
    border: 10px solid #6ca25e;
  }
  .mongo:hover {
    border: 10px solid #86d644;
  }
  .icon {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 10px solid #ececec;
    opacity: 0;
    animation: fade-in-right ease 1s forwards;
    img {
      @include width-height(null, 88px);
    }
  }
}

.section2 {
  background: linear-gradient(rgba(77, 146, 66, .4), rgba(77, 146, 69, .9))
}
