h2 {
  font-weight: 200;
  color: grey;
  margin: 30px 0 15px 15px; }

.col-lg-12 {
  padding: 0;
  max-width: 450px;
  border: 1px solid #e7e7e7;
  border-radius: 0; }
  .col-lg-12 input[name] {
    border: 0 !important;
    margin: 0 15px 0 15px;
    padding: 8px 0;
    border-bottom: 1px solid #e7e7e7 !important;
    font-weight: lighter;
    border-radius: 0; }
    .col-lg-12 input[name]:hover {
      border-color: black !important; }
  .col-lg-12 button:first-of-type {
    margin: 0 15px 30px; }

.add-event-form input[name] {
  border: 0 !important;
  margin: 0 15px 0 15px;
  padding: 8px 0;
  border-bottom: 1px solid #e7e7e7 !important;
  font-weight: lighter;
  border-radius: 0; }
  .add-event-form input[name]:hover {
    border-color: black !important; }

input[name='input'] {
  border: 0 !important;
  margin: 0 15px 0 15px;
  padding: 8px 0;
  border-bottom: 1px solid #e7e7e7 !important;
  font-weight: lighter;
  border-radius: 0;
  padding: 6px 0 5px; }
  input[name='input']:hover {
    border-color: black !important; }

body, html {
  padding: 0;
  margin: 0; }

.image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), black), url("https://static.pexels.com/photos/273011/pexels-photo-273011.jpeg") center/cover no-repeat fixed black; }
  .image .background {
    height: 80%; }

.bg-transparent {
  background: transparent;
  transition: .5s; }

.bg-grey {
  background-color: #f1f1f1;
  transition: 1s; }

.main {
  height: 100%;
  width: 100%; }

h1,
h3 {
  font-weight: 300; }

.col-lg-3 p {
  text-align: justify; }

.col-lg-3 .react:hover {
  border: 10px solid #62dafb; }

.col-lg-3 .redux:hover {
  border: 10px solid #774bbc; }

.col-lg-3 .node:hover {
  border: 10px solid #6ca25e; }

.col-lg-3 .mongo:hover {
  border: 10px solid #86d644; }

.col-lg-3 .icon {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 10px solid #ececec;
  opacity: 0;
  animation: fade-in-right ease 1s forwards; }
  .col-lg-3 .icon img {
    height: 88px; }

.section2 {
  background: linear-gradient(rgba(42, 166, 71, 0.4), rgba(42, 166, 71, 0.9)); }

@media only screen and (max-width: 767px) {
  .icon ~ p {
    padding: 0 4rem; }
  .col-md-3:nth-child(n+1):after {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); } }

@media only screen and (min-width: 768px) {
  .col-md-3:nth-child(n+2):before {
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    width: 1px;
    height: 70%;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
  h5 {
    position: relative; }
  h5:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

input[value='<'],
input[value='>'] {
  font-size: 2rem; }

.bg-lightblue {
  background-color: rgba(0, 123, 255, 0.4); }

@media only screen and (max-width: 400px) {
  .table1 {
    display: block;
    overflow-x: auto; } }

.table1 {
  box-shadow: 4px 4px 2px 2px black;
  max-height: 450px; }
  .table1 td {
    height: 5rem; }
  .table1 th {
    width: 4rem !important;
    vertical-align: middle !important;
    text-align: center;
    height: 3rem; }

.table2 {
  box-shadow: 4px 4px 2px 2px black; }
  .table2 .btn-group {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .table2 td:hover .btn-group {
    opacity: 1; }
  .table2 .drop {
    height: 2rem;
    line-height: 0.75; }

.week-span {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  left: 36%;
  font-size: .8rem;
  color: white; }

.l-h {
  line-height: 2; }

.ps-relative {
  position: relative; }

.compleated {
  text-decoration: line-through;
  color: #dc3746; }

.ps-absolute {
  position: absolute; }

.calendar {
  margin-top: 65px; }
  .calendar .conditions-circle {
    position: relative;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    background: linear-gradient(#f4b701, #b6c609); }
    .calendar .conditions-circle:before {
      content: "";
      background-color: white;
      width: 11rem;
      height: 11rem;
      position: absolute;
      border-radius: 50%;
      top: .5rem;
      left: .5rem; }
    .calendar .conditions-circle .text-center {
      position: relative; }
    .calendar .conditions-circle .temperature {
      margin: auto; }
      .calendar .conditions-circle .temperature span:first-child {
        font-size: 4rem;
        position: relative;
        left: -5; }
      .calendar .conditions-circle .temperature span:last-child {
        position: absolute;
        top: 33%;
        left: 70%; }
        .calendar .conditions-circle .temperature span:last-child:before {
          content: 'o';
          position: relative;
          top: -3;
          left: -5; }

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
